# systemctl --user daemon-reload
# systemctl --user enable --now kmonad
# systemctl --user status kmonad

[Unit]
Description=kmonad keyboard config

[Service]
Type=simple
Restart=always
RestartSec=3
ExecStart=/usr/bin/kmonad %h/.config/kmonad/config.kbd
Nice=-20

[Install]
WantedBy=default.target
