/tilde/.config/fish/completions
/tilde/.config/fish/conf.d/fzf.fish
/tilde/.config/fish/conf.d/venv.fish
/tilde/.config/fish/fish_variables
/tilde/.config/noctalia/plugins
/tilde/.config/fish/functions
/tilde/.config/yazi/flavors/dracula.yazi
/tilde/.config/yazi/plugins/toggle-pane.yazi
/tilde/.config/yazi/plugins/restore.yazi
/tilde/.config/yazi/plugins/relative-motions.yazi
/tilde/.config/yazi/plugins/pandoc.yazi
/tilde/.config/yazi/plugins/ouch.yazi
/tilde/.config/yazi/plugins/mime-ext.yazi
/tilde/.config/yazi/plugins/chmod.yazi
# herdr writes its runtime state (sockets, logs, session dumps) next to the config
/tilde/.config/herdr/*
!/tilde/.config/herdr/config.toml
!/tilde/.config/herdr/move-tab.py
!/tilde/.config/herdr/herdr-index.py
__pycache__/
