configuration {
  show-icons: true;
  display-drun: "Apps";
  display-window: "Windows";
  display-emoji: "";
  modi: "window,drun,run,emoji,clipboard:greenclip print";
}

@import "~/.config/rofi/dracula_theme.rasi"
