
copy_command "xclip -selection clipboard"

default_shell "fish"

scrollback_editor "/usr/bin/nvim"

theme "dracula"

pane_frames false

simplified_ui true

session_serialization true

default_mode "locked"

// all binds:
// https://github.com/gmr458/.dotfiles/blob/main/zellij/.config/zellij/config.kdl
keybinds {
    shared_among "locked" "normal" {
        bind "Alt h" { MoveFocusOrTab "Left"; }
        bind "Alt l" { MoveFocusOrTab "Right"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }

        bind "Alt n" { NewPane; }
        bind "Alt x" { CloseFocus; }
        bind "Alt z" { CloseTab; }
        bind "Alt t" { NewTab; }
        bind "Alt f" { ToggleFocusFullscreen; }
        bind "Alt v" { NextSwapLayout; }

        bind "Alt 1" { GoToTab 1; }
        bind "Alt 2" { GoToTab 2; }
        bind "Alt 3" { GoToTab 3; }
        bind "Alt 4" { GoToTab 4; }
        bind "Alt 5" { GoToTab 5; }
        bind "Alt 6" { GoToTab 6; }
        bind "Alt 7" { GoToTab 7; }

        bind "Alt i" { MoveTab "Left"; }
        bind "Alt o" { MoveTab "Right"; }

        bind "Alt p" { ToggleFloatingPanes; }
        bind "Alt w" {
            LaunchOrFocusPlugin "zellij:session-manager" {
                floating true
                move_to_focused_tab true
            };
        }
        bind "Alt e" { EditScrollback; }
    }
}

