
"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

[mgr]
ratio = [3, 8, 8]
sort_by = "natural"
sort_sensitive = false
sort_dir_first = true

[preview]
max_width = 1700
max_height = 1000

# options when pressing "o" or "O"
# note: new filename selection syntax: https://github.com/sxyazi/yazi/pull/3232
[opener]
extract = [
    { run = 'ouch d -y %s', desc = "Extract here with ouch", for = "unix" },
]
display_image = [
    { run = 'nsxiv-rifle %s', orphan = true, desc = "nsxiv", for = "unix" },
    { run = 'gwenview %s', orphan = true, desc = "gwenview", for = "unix" },
    { run = 'pinta %s', orphan = true, desc = "pinta", for = "unix" },
]
display_directory = [
    { run = 'nsxiv --recursive --thumbnail %s', orphan = true, desc = "nsxiv", for = "unix" },
]
display_pdf = [
    { run = 'okular %s', orphan = true, desc = "okular", for = "unix" },
    { run = 'zathura %s', orphan = true, desc = "zathura", for = "unix" },
    { run = 'pdfmixtool %s', orphan = true, desc = "pdfmixtool", for = "unix" },
    { run = 'xournalpp %s', orphan = true, desc = "xournalpp", for = "unix" },
]
edit_tabular = [
    { run = 'vd %s', desc = "visidata", block = true, for = "unix" },
]

[open]
# FIX: default openers not present for prepended_rules (e.g. exif data)
prepend_rules = [
    { mime = "image/*", use = "display_image" },
    { mime = "application/pdf", use = "display_pdf" },
    { url = "*.csv", use = "edit_tabular" },
    { url = "*.xlsx", use = "edit_tabular" },
]
append_rules = [
	{ url = "*/", use = [ "edit", "display_directory", "open", "reveal" ] }, # directory
]


[plugin]
fetchers = [
    { id = "mime", url = "/mnt/**", run = "mime-ext", prio = "high" }, # faster mime types fetching (O(1) from table) on remote
	{ id = "mime", url = "*/",         run = "mime.dir", prio = "high" },
	{ id = "mime", url = "local://*",  run = "mime.local", prio = "high" },
	{ id = "mime", url = "remote://*", run = "mime.remote", prio = "high" },
]
# disable previews for remote mounted dirs (would need to be fetched)
prepend_preloaders = [{ url = "/mnt/**", run = "noop" }]

# custom previewers
prepend_previewers = [
    { url = "/mnt/**", run = "noop" },
    # Archive previewer
    { mime = "application/*zip", run = "ouch" },
    { mime = "application/x-tar", run = "ouch" },
    { mime = "application/x-bzip2", run = "ouch" },
    { mime = "application/x-7z-compressed", run = "ouch" },
    { mime = "application/x-rar", run = "ouch" },
    { mime = "application/x-xz", run = "ouch" },
    { mime = "application/xz", run = "ouch" },
]

